<!-- app/views/posts/index.html.erb -->
<h1>Posts</h1>

<%= link_to 'New Post', new_post_path, 
    class: "button", 
    data: { turbo_frame: "post_form", turbo_action: "advance" } %>

<turbo-frame id="post_form"></turbo-frame>

<div id="posts">
  <%= render @posts %>
</div>